<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693337441759-p4kck4iqlk58sff9ad6p7rpac3ggr5sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693337441759-p4kck4iqlk58sff9ad6p7rpac3ggr5sl</string>
	<key>API_KEY</key>
	<string>AIzaSyDifI1KL1Ab4h5Qru1zEdxLOXMqi6Hrxms</string>
	<key>GCM_SENDER_ID</key>
	<string>693337441759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edpSmartLockApp</string>
	<key>PROJECT_ID</key>
	<string>edp-smart-lock-app</string>
	<key>STORAGE_BUCKET</key>
	<string>edp-smart-lock-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693337441759:ios:e97fc71388ca3b356bb06a</string>
</dict>
</plist>